{% extends 'base.html.twig' %}

{% block body %}
    {% if app.request.attributes.get('_route') not in ['security_login'] %}
    <aside id="sidebar" class="h-100 col-12 col-md-2 p-0 bg-dark fixed-md">
        <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start p-0">
            <div class="collapse navbar-collapse w-100">
                <ul class="flex-md-column flex-row navbar-nav justify-content-around w-100">
                    <li class="nav-item pl-md-2">
                        <a class="nav-link pl-0 text-nowrap" href="#"><span class="">Claravista</span></a>
                    </li>
                    <li class="nav-item pl-md-2">
                        <a class="nav-link px-0 active" href="#"><i class="fa fa-heartbeat fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                    </li>
                    <li class="nav-item pl-md-2">
                        <a class="nav-link px-0" href="#"><i class="fa fa-book fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                    </li>
                    <li class="nav-item pl-md-2">
                        <a class="nav-link px-0" href="#"><i class="fa fa-heart fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                    </li>
                    <li class="nav-item pl-md-2">
                        <a class="nav-link px-0" href="#"><i class="fa fa-star fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                    </li>
                    <li class="nav-item pl-md-2">
                        <a class="nav-link px-0" href="#"><i class="fa fa-list fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </aside>
    {% endif %}
    <main  id="{% block main_id %}{% endblock %}" class="{% block main_class %}{% endblock %} col-md-10 col-xs-12 bg-faded py-3 pl-4 h-100 ml-md-auto">
        {% block main %}{% endblock %}
    </main>
{% endblock %}
